/* Setup */
@import "setup/vars";
@import "setup/typography";
@import "setup/functions";
@import "setup/mixins";

/* Base */
@import "base/base";
@import "base/helpers";
@import "base/layout";
@import "base/forms";

/* Components */
@import "cmps/app-header";
@import "cmps/toggle-btn";
@import "cmps/user-msg";

@import "cmps/toy-filter";
@import "cmps/toy-list";
@import "cmps/toy-preview";

@import "cmps/shopping-cart";
@import "cmps/home-page";
@import "cmps/toy-index";
@import "cmps/dashboard";
@import "cmps/about-us";

.popup-menu {
    width: 300px;
    height: 400px;
    position: fixed;
    inset: 0;
    margin: auto;
    background-color: white;
    border: red 2px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
