@charset "UTF-8";
/* Setup */
@font-face {
  font-family: Bouenos;
  src: url(BuenosAires-Regular.ttf);
}
/* Media queries Breakpoint mixins */
/* Media  Mixins */
/* Base */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: var(--gray3);
  font-family: Bouenos;
  background-color: #e7e9e4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.5em 0 0.5em;
  /* font-family: 'Edu VIC WA NT Beginner', cursive; */
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: unset;
  padding: 16px;
}

a:hover {
  /* text-decoration: underline; */
  color: #a5854a;
}

/* Dont stretch my Media */
img,
embed,
video,
object {
  max-width: 100%;
}

/* Simple and useful CSS Debugging Technique */
.debug * {
  outline: 1px solid gold;
}

a.active {
  text-decoration: underline;
}

.main-container {
  margin-top: 40px;
}

/* flex helpers */
.flex {
  display: flex;
}

.flex.flex-column {
  flex-direction: column;
}

.flex.justify-center {
  justify-content: center;
}

.flex.justify-between {
  justify-content: space-between;
}

.flex.align-center {
  align-items: center;
}

/* text helpers */
.colored-text {
  color: var(--clr1);
}

/* list helpers */
.clean-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

/* font awsome */
.fa {
  font-family: fa;
}

.fa.fa-facebook::before {
  content: "\f39e";
}

.fa.fa-twitter::before {
  content: "\f099";
}

.fa.fa-dribbble::before {
  content: "\f17d";
}

.fa.fa-behance::before {
  content: "\f1b4";
}

.main-layout {
  display: grid;
  grid-template-columns: minmax(20px, 1fr) minmax(auto, 1200px) minmax(20px, 1fr);
}
.main-layout > * {
  grid-column: 2;
}
.main-layout .full {
  grid-column: 1/-1;
}
@media (min-width: 632px) {
  .main-layout {
    grid-template-columns: minmax(16px, 1fr) minmax(auto, 600px) minmax(16px, 1fr);
  }
}
@media (min-width: 992px) {
  .main-layout {
    grid-template-columns: minmax(16px, 1fr) minmax(auto, 960px) minmax(16px, 1fr);
  }
}
@media (min-width: 1332px) {
  .main-layout {
    grid-template-columns: minmax(16px, 1fr) minmax(auto, 1300px) minmax(16px, 1fr);
  }
}

.main-container {
  display: grid;
  grid-template-columns: minmax(auto, 300px) minmax(auto, 1000px);
}
.main-container > * {
  grid-column: 2/-1;
}
.main-container .side-bar {
  grid-column: 1/2;
}

footer {
  background-color: rgba(165, 133, 74, 0.63);
  color: white;
  padding: 1em;
  text-align: center;
  bottom: 0;
  width: 100vw;
}

button {
  cursor: pointer;
  background-color: var(--clr2bg);
  margin: 0.5em;
  border: 0;
  padding: 0.5em 0.8em;
  border-radius: 4px;
  background-color: #86c232;
  color: white;
  font-size: 1rem;
  border-radius: 2rem;
  padding: 10px 15px;
  border: 1px solid rgba(0, 0, 0, 0.1294117647);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.06);
  margin: 10px;
}

button:hover {
  background-color: var(--clr2);
  color: black;
  transition: 0.3s;
}

button[disabled] {
  background-color: var(--gray1);
  color: black;
  cursor: not-allowed;
}

input:focus {
  background-color: var(--clr1bg);
  transition: background-color 1s;
}

/* Components */
.app-header {
  background-color: #86c232;
  color: white;
  padding: 16px;
  justify-content: space-between;
}

.logged-in-username {
  color: rgb(81, 81, 81);
}

.main-row {
  justify-content: space-between;
}

.toggle-btn input {
  position: absolute;
  opacity: 0;
}

.toggle-btn {
  display: inline-block;
  font-size: 20px; /* 1 */
  height: 1em;
  width: 2em;
  background: #BDB9A6;
  border-radius: 1em;
}

.toggle-btn div {
  height: 1em;
  width: 1em;
  border-radius: 1em;
  background: #FFF;
  box-shadow: 0 0.1em 0.3em rgba(0, 0, 0, 0.3);
  transition: all 300ms;
}

.toggle-btn input:checked + div {
  transform: translate3d(100%, 0, 0);
  background: greenyellow;
}

.user-msg {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.186);
  padding: 0.2em 0.5em;
  position: fixed;
  bottom: 0;
  right: 1em;
  color: black;
  border-radius: 2px;
}

.user-msg button {
  float: right;
  margin: 0;
  margin-inline-start: 3em;
  padding: 0 5px;
}

.toy-filter {
  grid-row: 2;
  background-color: rgba(240, 248, 255, 0.4196078431);
  border: 1px solid rgba(0, 0, 0, 0.1019607843);
  padding: 1rem;
  border-radius: 1rem;
  margin: 10px 10px 10px 0;
}
.toy-filter .filter-input {
  min-height: 38px;
  outline: 0 !important;
  position: relative;
  transition: all 100ms;
  background-color: hsl(0deg, 0%, 100%);
  border-color: hsla(0deg, 0%, 61%, 0.44);
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1490196078);
  width: 100%;
}
.toy-filter .checkbox {
  width: 40px;
}
.toy-filter h2 {
  margin-top: 0;
}
.toy-filter h3 {
  font-size: 1.17rem;
  font-weight: normal;
  margin: 5px 0;
}
.toy-filter label {
  margin: 5px 0;
}

.basic-multi-select {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1490196078);
}

label {
  font-size: 1.17rem;
  display: block;
}

.toy-list {
  padding-inline-start: 0;
  display: grid;
  margin: 0;
  grid-template-columns: minmax(auto, 250px) minmax(auto, 250px) minmax(auto, 250px) minmax(auto, 250px);
}

.toy-list li {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgb(255, 255, 255);
  margin: 10px;
  margin-right: 10px;
  border-radius: 1rem;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1411764706);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1294117647);
}

.remove-btn {
  padding: 5px 10px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: darkred;
  color: white;
  border-radius: 1rem;
}

.toy-preview {
  position: relative;
  text-align: center;
  padding: 0.3em;
  display: flex;
  flex-direction: column;
}
.toy-preview article h4 {
  text-align: left;
  padding-left: 10px;
}

.toy-preview h4 {
  text-transform: capitalize;
  color: black;
}

.toy-preview img {
  max-width: 100px;
}

.preview-price {
  display: block;
}

.cart {
  background-color: var(--gray3);
  padding: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.cart li button {
  margin: 5px;
}

.enter-shop {
  padding: 10px 30px;
  font-size: 1.5rem;
  font-weight: bolder;
  color: #86c232;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -60%);
  border-radius: 6rem;
  border: 1px solid rgba(0, 0, 0, 0.2196078431);
  background-color: rgba(217, 255, 213, 0.4392156863);
}

.loader-img {
  height: 70px;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 100;
}

.main-app-title {
  text-align: center;
  font-size: 2rem;
  padding: 1rem;
  grid-column: 1/-1;
}

.add-toy-btn {
  background-color: #86c232;
  color: white;
  font-size: 1rem;
  border-radius: 2rem;
  padding: 10px 15px;
  border: 1px solid rgba(0, 0, 0, 0.1294117647);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.0588235294);
  margin: 10px;
}

.add-toy-btn:hover {
  background-color: #c0f86c;
}

.main-dashboard {
  justify-content: space-between;
}

.map-wrap {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.168627451);
}

.branch-location {
  font-size: 3rem;
}

.popup-menu {
  width: 300px;
  height: 400px;
  position: fixed;
  inset: 0;
  margin: auto;
  background-color: white;
  border: red 2px solid;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*# sourceMappingURL=main.css.map */
