.toy-detalis-main {
    justify-content: space-between;
    margin-top: 40px;
    background-color: rgb(255, 255, 255);
    border-radius: 1rem;
    box-shadow: 0 0 10px #00000057;
    align-items: center;
}

.chat-img {
    position: absolute;
    bottom: 10%;
    right: 10%;
    height: 80px;
    width: 80px;
    cursor: pointer;
    transition: 0.4s;
}

.chat-img:hover {
    transform: scale(1.05);
}

.toy-detalis-img-container {
    border-radius: 1rem;
    padding-right: 1rem;
}

.save-btn {
    padding: 5px 0;
}

.save-btn:hover {
    background-color: darkgreen;
    color: white;
}

.toy-detalis-img {
    border-radius: 1rem;
}

.toy-detalis {
    padding: 1.5rem;
    position: relative;

    h2 {
        margin: 0;
        display: inline-block;
    }
}

.options-btn {
    position: absolute;
    bottom: 0.7rem;
    left: 1rem;

    button {
        padding: 5px 3px;
        background-color: rgba(127, 127, 127, 0.616);
    }
}

.toy-desc {
    padding: 2rem;
}

.price-tag-detalis {
    font-weight: 600;
    padding: 1rem;
    display: inline-block;
}

.labels-detalis {
    position: absolute;
    top: 0;
    display: flex;
    right: 0;

    p {
        padding: 5px 10px;
        border-radius: 0.5rem;
        text-decoration: underline;
    }
    p::before {
        content: "#";
    }
}

.chat-window {
    position: absolute;
    bottom: 20%;
    right: 5%;
    height: 500px;
    width: 300px;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.967);
    border: 1px solid rgba(0, 0, 0, 0.204);
    transform: scale(0);
    transition: transform 1s;
}

.chat-window.open {
    transform: scale(100%);
}

.chat-title {
    text-align: center;
    margin: 1rem;
    background-color: rgb(120, 235, 94);
    border-radius: 1rem;
}

.chat-txt {
    list-style: none;
    padding: 1rem;
    margin: 0;
}

.chat-user-txt {
    margin: 0;
    padding: 0;
}

.chat-user-txt::before {
    content: "🤠";
}
.chat-site-txt {
    padding: 0;
    margin: 0;
    text-align: right;
}

.chat-site-txt::after {
    content: "🐻";
}

.chat-input {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-radius: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.161);
    min-height: 30px;
    padding: 10px;
}

.review-input {
    font-family: Bouenos;
    font-size: 1rem;
    padding: 10px;
    border-radius: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.217);
}

.add-review {
    display: grid;
}

.review-list {
    padding: 0;
    margin: 0;
    overflow-y: scroll;
    max-height: 133px;
    li {
        display: flex;
        align-items: center;
    }
}

.x-btn {
    padding: 0 5px;
    background-color: darkred;
}
.x-btn:hover {
    background-color: red;
    color: white;
}

.toy-reviews-container {
    align-items: baseline;
    // justify-content: space-evenly;
    justify-content: space-evenly;
    margin: 1rem 0;
    margin-bottom: 3rem;
}
