.toy-preview {
    position: relative;
    text-align: center;
    padding: 0.3em;
    display: flex;
    flex-direction: column;

    article {
        h4 {
            text-align: left;
            padding-left: 10px;
        }
    }
}
.toy-preview h4 {
    text-transform: capitalize;
    color: black;
    margin-top: 0;
    width: 83%;
}

.preview-price {
    display: block;
}

.add-toy-img{
    max-width: 100px;
}