.toy-list {
    padding-inline-start: 0;
    display: grid;
    margin: 0;
    grid-template-columns:
        minmax(auto, 250px)
        minmax(auto, 250px)
        minmax(auto, 250px)
        minmax(auto, 250px);
}

.toy-list li {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgb(255 255 255);
    margin: 10px;
    margin-right: 10px;
    border-radius: 1rem;
    padding: 10px;
    border: 1px solid #00000024;
    box-shadow: 0 0 10px #00000021;
}

.remove-btn {
    padding: 5px 10px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: darkred;
    color: white;
    border-radius: 1rem;
}
