.enter-shop {
    padding: 10px 30px;
    font-size: 1.5rem;
    font-weight: bolder;
    color: #86c232;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -80%);
    border-radius: 6rem;
    border: 1px solid #00000038;
    background-color: #d9ffd570;
}